<footer>
  <div class="autor">
    <img src="/LetraC.png" alt="letter C" class="logoNav" />
    <p>Cristiano Developer</p>
  </div>
  <nav>
    <a href="mailto:cristiano.franca@hotmal.co.uk?subject=Sobre%20web%20sites&body=Oi,%0D%0A Eu gostaria de obter mais informacoes de obter um website." title="email" target="_blank">
      <img src="/email.png" alt="emal logo" class="logoNav" />
    </a>
    <a href="https://github.com/CristianoFranca1976" title="GitHub" target="_blank">
      <img src="/github.png" alt="github logo" class="logoNav" />
    </a>
  </nav>
</footer>