<head>
  <style>
    header {
      background-image: url(salgados.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>
<header>
  <img src="logo.jpeg" alt="logo" class="logo" />
  <h1>Patricia Salgados</h1>
</header>