<div id="line-one" class="lines">
  <div class="itens">
    <img src="/coxinha.jpg" alt="coxinha" class="salgadosIMG" />
    <div class="info">
      <div class="nome">
        <h2><%=itemName[0]%></h2>
        <form action="/inputs" method="get">
        <button type="submit" class="basket" >
          <img
            src="basket.png"
            alt="basket"
            class="basketLogo"
            id="btn-coxinha"
          />
        </button>
       </form>
      </div>
      <p class="description">
        Massa fresca com frango desfiado, servido frito ou congelado.
      </p>
    </div>
  </div>
  <div class="itens">
    <img
      src="boninha.jpg"
      alt=""
      class="salgadosIMG"
    />
    <div class="info">
      <div class="nome">
        <h2>Bolinha de Queijo</h2>
        <button type="submit" class="basket" >
          <img
            src="/basket.png"
            alt="basket"
            class="basketLogo"
          />
        </button>
      </div>
      <p class="description">
        Massa fresca com recheio de queijo, servido frito ou congelado.
      </p>
    </div>
  </div>
  </div>
  <div id="line-two" class="lines">
  <div class="itens">
    <img src="/maravilha.jpg" alt="" class="salgadosIMG" />
    <div class="info">
      <div class="nome">
        <h2>Maravilha</h2>
        <button type="submit" class="basket" >
          <img
            src="/basket.png"
            alt="basket"
            class="basketLogo"
          />
        </button>
      </div>
      <p class="description">
        Massa fresca com presunto e queijo, servido frito ou congelado.
      </p>
    </div>
  </div>
  <div class="itens">
    <img src="/kibe.jpg" alt="" class="salgadosIMG" />
    <div class="info">
      <div class="nome">
        <h2>Kibe</h2>
        <button type="submit" class="basket" >
          <img
            src="/basket.png"
            alt="basket"
            class="basketLogo"
          />
        </button>
      </div>
      <p class="description">
        Massa fresca com recheio de queijo, servido frito ou congelado.
      </p>
    </div>
  </div>
  </div>
  <div id="line-three" class="lines">
  <div class="itens">
    <img src="/croquete.jpg" alt="" class="salgadosIMG" />
    <div class="info">
      <div class="nome">
        <h2>Croquete</h2>
        <button type="submit" class="basket" title="Adicione ao basket" >
          <img
            src="/basket.png"
            alt="basket"
            class="basketLogo"
          />
        </button>
      </div>
      <p class="description">
        Massa fresca com recheio de carne, servido frito ou congelado.
      </p>
    </div>
  </div>
  <div class="itens">
    <img src="/empada.jpg" alt="" class="salgadosIMG" />
    <div class="info">
      <div class="nome">
        <h2>Empada</h2>
        <button type="submit" class="basket" ">
          <img
            src="/basket.png"
            alt="basket"
            class="basketLogo"
          />
        </button>
      </div>
      <p class="description">
        Massa fresca com recheio, servido frito ou congelado.
      </p>
    </div>
  </div>
  </div>
  <div id="line-four" class="lines">
  <div class="itens">
    <img src="/esfira.jpg" alt="" class="salgadosIMG" />
    <div class="info">
      <div class="nome">
        <h2>Esfira</h2>
        <button type="submit" class="basket" >
          <img
            src="/basket.png"
            alt="basket"
            class="basketLogo"
          />
        </button>
      </div>
      <p class="description">
        Massa fresca com frango desfiado, servido frito ou congelado.
      </p>
    </div>
  </div>
  <div class="itens">
    <img src="/risole.jpg" alt="" class="salgadosIMG" />
    <div class="info">
      <div class="nome">
        <h2>Risole</h2>
        <button type="submit" class="basket" >
          <img
            src="/basket.png"
            alt="basket"
            class="basketLogo"
          />
        </button>
      </div>
      <p class="description">
        Massa fresca com recheio de carne, servido frito ou congelado.
      </p>
    </div>
  </div>
  </div>
